<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do List</title>
</head>

<body>
    <h1>Welcome to your to-do list</h1>
    <table>
        <thead>
            <tr>
                <th>
                    Task Name
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {% for tasks in task %}
            <tr>
                {% if tasks.completed %}
                <td>
                    <strike>{{ tasks.name }}</strike>
                </td>
                <td>
                    <strike>DONE</strike>
                </td>
                {% else %}
                <td>
                    {{ tasks.name }}
                </td>
                <td>
                    PENDING
                </td>
                {% endif %}
                <td>
                    <a href="{% url 'edit_task' task_id=tasks.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'toggle_task' task_id=tasks.id %}">Toggle</a>
                </td>
                <td>
                    <a href="{% url 'delete_task' task_id=tasks.id %}">Delete</a>
                </td>
                {% empty %}
                <td>
                    Empty, nothing else to do!
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <p>
            <a href="add">Add Task</a>
        </p>
    </div>
</body>

</html>